
<footer>
    <div id="footer">
      <ul>
        <li class="last">
        </li>
      </ul>
      <span>&copy; Copyright &copy; 2016. <a href="about.html"> The Lovelaces</a> Final Project for OSU Web Development (CS 290)</span> </div>
    </div>
</footer>
