<header>
    <div id="header">
      <a id="logo" href="home.html"><img src="images/logo.png" alt=""></a>
      <ul class="navigation">
      <li>
      <a href="home.html">Home</a>
      </li>
      <li class="first">
      <a href="about.html">About</a>
				</li>
				<li>
					<a href="games.html">Games</a>
				</li>
			</ul>
    </div>
</header>
