body {
    margin:0;
    padding:0;
    background:transparent url("../images/dragon header.jpg");
    background-position:top center;
    background-repeat:no-repeat;
    background-color:#000000;
}
a {
  outline:0;
}
img {
  border:0;
}
img {
  opacity:1;
  filter:alpha(opacity=100);/*Needed for IE8 and old versions*/
}
img:hover {
	opacity:0.8;
	filter:alpha(opacity=80);/* Needed for IE8 and old versions */
}
#page div#header {
	width:950px;
	height:275px;
	margin:0 auto;
	text-align:center;
	position:relative;
	overflow:hidden;
}
#page div#header #logo {
	position:relative;
	top:26px;
}
#page div#header ul.navigation {
	background:transparent url("../images/navigation.png");
	background-position:center center;
	background-repeat:no-repeat;
	list-style-type:none;
	margin:0;
	padding:0;
	height:120px;
	position:relative;
	top:13px;
	left:0;
}
#page div#header ul.navigation li {
	float:left;
	line-height:120px;
	text-align:center;
}
#page div#header ul.navigation li.first {
	margin:0 0 0 50px;
}
#page div#header ul.navigation li a {
	font-family:Volkhov;
	font-size:20px;
	font-weight:normal;
	color:#311a0b;
	text-transform:uppercase;
	text-decoration:none;
	padding:0 28px;
	text-shadow:0 1px 0 #e5c288;
	display:block;
}
#page #body div.content ul.pagination {
	list-style-type:none;
	margin:30px 150px 30px 170px;
	padding:0;
	overflow:hidden;
}
#page #body div.content ul.pagination li {
	float:left;
}
#page #body div.content ul.pagination li a {
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	padding:0 5px;
	color:#373837;
}
#page #body div.content ul.pagination li a:hover {
	font-family:Arial;
	font-size:12px;
	text-decoration:none;
	padding:0 5px;
	color:#565756;
}
#page #footer {
	width:888px;
	margin:0 auto;
	overflow:hidden;
}
#page #footer ul {
	list-style-type:none;
	margin:20px 0 170px 0;
	padding:0;
	overflow:hidden;
}
#page #footer ul li {
	float:left;
	width:262px;
	margin:0 50px 0 0;
}
#page #footer ul li.last {
	margin:0;
}
#page #footer ul li a {
	display:block;
}
#page #footer ul li a.games {
	background:transparent url("../images/interface.png") no-repeat scroll 0 -954px;
	text-decoration:none;
	width:260px;
	height:268px;
}
#page #footer ul li a.games:hover {
	background:transparent url("../images/interface.png") no-repeat scroll 0 -636px;
}
#page #footer ul li p {
	font-family:Georgia;
	font-size:14px;
	color:#a42a16;
	text-align:justify;
	line-height:24px;
}
#page #footer ul li p a {
	display:inline;
	font-family:Georgia;
	font-size:14px;
	color:#a42a16;
	text-align:justify;
	line-height:24px;
	text-decoration:none;
}
#page #footer ul li p a:hover {
	display:inline;
	font-family:Georgia;
	font-size:14px;
	color:#a42a16;
	text-align:justify;
	line-height:24px;
	text-decoration:none;
}
#page #footer ul li p a:hover {
	display:inline;
}
#page #footer span {
	text-align:center;
	margin:0 0 65px 0;
	font-family:"Trebuchet MS";
	color:#ffffff;
	display:block;
	font-size:10px;
}
#page #footer span a {
	font-family:"Trebuchet MS";
	color:#ffffff;
	text-decoration:none;
}
#page #footer span a:hover {
	font-family:"Trebuchet MS";
	color:#ffffff;
	text-decoration:underline;
}
