{{> header}}

<main>
<body>
    <div id="body">
            <div class="error-message">
              <img class = "cute" src="images\cute.png" style="border:1px solid black;max-width:25%;" alt="">
              <h1>404</h1>
              <p>We couldn't find that page.</p>
            </div>
    </div>
    <!-- No idea why, but leaving this in here centers everything. -->
    <div id="footer">
</body>
</main>

{{> footer}}
