{{> header}}
<main>
<body>
  <div id="page">
    <div id="header">
      <a id="logo" href="home.html"><img src="images/logo.png" alt=""></a>
      <ul class="navigation">
      <li>
      <a href="home.html">Home</a>
      </li>
      <li class="first">
      <a class="active" href="about.html">About</a>
				</li>
				<li>
					<a href="games.html">Games</a>
				</li>
			</ul>
		</div>
		<div id="body">
			<div class="featured"> <img src="images/featured-character.jpg" alt="">
				<div class="section">

					<h2><a href="home.html">About</a></h2>
                    <p>
                        Choose Your Path was developed by Teresita Nader, and Christa Wright! The process took about 5 weeks, for implementing the HTML, CSS, and JavaScript.
                        This layout is subject to change.
                    </p>
                </div>

                  <span>&nbsp;</span> </div>

                <div id="content">
                    <section class = "group">
                    <h2>The Lovelaces</h2>
                    </section>


                  <section class= "aboutUs">
                      <h2> Teresita Nader </h2>
                      <img src="images\picture.jpg" style="border:1px solid black;max-width:70%;"  alt="" />
                      <p id= aboutUsContent>
                          Write something about yourself here ^_^
                      </p>
                      <div id= "links">
                          <a href=" " >
                              <img src="images\linkedin.jpg" style="border:1px solid black;max-width:40%;" ></a>
                          <a href=" ">
                              <img src="images\github.jpg" style="border:1px solid black;max-width:35%;" >
                          </a>
                          <a href=" ">Blog</a>
                      </div>
                  </section>



                  <section class= "aboutUs">
                      <h2> Christa Wright</h2>
                      <img src="images\selfie.jpg" style="border:1px solid black;max-width:70%;"  alt="" />
                      <p>
                          Write something about yourself here ^_^
                      </p>
                      <div id= "links">
                          <a href="https://www.linkedin.com/in/christa-wright-338b90116" >
                              <img src="images\linkedin.jpg" style="border:1px solid black;max-width:40%;" ></a>
                          <a href="https://github.com/DeadCatLady">
                              <img src="images\github.jpg" style="border:1px solid black;max-width:35%;" >
                          </a>
                          <a href=" " >
                              Blog
                          </a>
                      </div>
                  </section>



                </div>
            </div>
            <div id="footer">
              <ul>
                <li class="last">
                </li>
              </ul>
              <span>&copy; Copyright &copy; 2016. <a href="about.html"> The Lovelaces</a> Final Project for OSU Web Development (CS 290)</span> </div>
            </div>
            </body>
            </html>
