{{> header}}
<main>
<body>
	<div id="body">
		<div class="featured"> <img src="images/featured-character.jpg" alt="">
			<div class="section">

				<h2><a href="home.html">About</a></h2>
				<p>
					Choose Your Path was developed by Teresita Nader, and Christa Wright when they were in CS290 at Oregon State University. The process took about 5 weeks, for implementing the HTML, CSS, and JavaScript. The website allows users to be able to make their own games, and be hosted on the site's database.
				</p>
				<p>
					Enjoy the games!
				</p>
			</div>

			  <span>&nbsp;</span> </div>

			<div id="content">
				<section class = "group">
				<h2>The Lovelaces</h2>
				</section>


			  <section class= "aboutUs">
				  <h2> Teresita Nader </h2>
				  <img src="images\picture.jpg" style="border:1px solid black;max-width:70%;"  alt="" />
				  <p class= aboutUsContent>
					  My name is Teresita I am majoring on CS at OSU with a minor on Business. My favorite computer language is C++ because was the very first I lerned and makes a lot of sense for me. I love to use Photoshop to design web pages because it makes the web site more atractive for the public. Hope you enjoy our page!
				  </p>
				  <div id= "links">
					  <a href="https://www.linkedin.com/in/teresita-guzman-nader" >
						  <img src="images\linkedin.jpg" style="border:1px solid black;max-width:35%;" ></a>
					  <a href="https://github.com/TeresitaCGNader">
						  <img src="images\github.jpg" style="border:1px solid black;max-width:30%;" >
					  </a>
					  <a href="http://web.engr.oregonstate.edu/~guzmannt/CS%20290/blog.html">
						<img src="images\blog.png" style="border:1px solid black;max-width:30%;" >
					</a>
				  </div>
			  </section>



			  <section class= "aboutUs">
				  <h2> Christa Wright</h2>
				  <img src="images\selfie.jpg" style="border:1px solid black;max-width:70%;"  alt="" />
				  <p class= aboutUsContent>
					  Hey there! I'm Christa, and I'm majoring in Computer Science at Oregon State University.
				  </p>
				  <div id= "links">
					  <a href="https://www.linkedin.com/in/christa-wright-338b90116" >
						  <img src="images\linkedin.jpg" style="border:1px solid black;max-width:35%;" ></a>
					  <a href="https://github.com/DeadCatLady">
						  <img src="images\github.jpg" style="border:1px solid black;max-width:30%;" >
					  </a>
					  <a href="http://web.engr.oregonstate.edu/~wrighch3/cs290/blog/" >
						  <img src="images\blog.png" style="border:1px solid black;max-width:30%;" >
					  </a>
				  </div>
			  </section>



			</div>
		</div>
		<!-- No idea why, but leaving this in here centers everything. -->
		<div id="footer">
</body>
</main>

{{> footer}}
