{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You enter the forest and you hear the soldiers footsteps as they enter the town. You duck into some near-by bushes, and wait until you can distinguish both the location and the intentions of the soldiers. As the soldiers come into sight, you see that the soldiers are dragging a chain net. At first you don't realize what is in it, it looks strange and foreign, but it dawns on you that it is a dragon! The dragon moves desperately to break from the net and after some struggle he escapes and kills the soldiers. The dragon hasn't noticed you, but you can see how his movements are getting slower as he seems to be losing blood from the wound on his side.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
