{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
						As you approach the farm, you see that the soldiers are setting the farm ablaze. Farm animals are escaping from the barn, and running towards a near by field, where no soldiers are posted. Towards the entrance of the stables is an old man, stabbed through the heart, pegged to a wall. His eyes were widened in horror. A soldier must have stabbed him, as he was trying to free his animals. You hear a woman's scream, and notice a few yards off group of soldiers ripping away her clothes.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
                      <a href="\dialog21.html">
                          Use the animals to distract the soldiers, while you rescue the girl
                      </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
                       <a href="\dialog22.html">
                           Take the sword from the dead-mans body, and defend the girl
                       </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
                       <a href="\dialog23.html">
                           Hide, and scream that the royal guard is coming
                       </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
