{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You think quickly and take the sword from the dead-mans body, and charge the soldiers! Suddenly a line of fire appears before you! You look up and see a dragon fly in the sky, it roars, and more fire comes shooting out of it's mouth! The soldier's carriage is set ablaze, and a screaming man comes out covered in flames. The soldiers have stopped attacking the girl, and turned their attention towards the dragon. The archers shoot at the dragon, an arrow hitting it in the wing, tearing the fragile membranous tissue. The dragon lets out a terrible scream of pain and lands on the ground, the soldiers close in, it spits more fire at the soldiers, and eats one. The soldiers realize they are no match for this beast, even if it is wounded, and disperse into the forest. The girl looks at you in fear, and run towards the town, gathering her tattered dress about her.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
