{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          Before you can move a spout of flame falls from the sky and in a second all the soldiers are gone.
                          There is no trace of them, not even a piece of armor. Suddenly you hear those strange screams. You follow the noise till you reach a beautiful hot spring.
                          At the shore of the hot spring you notice a scaled figure covered in blood. As you approach you realize its a dragon. You have never seen one before, but you had heard of these large scaled creatures that breathe fire.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
