{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
						  	The town is on fire, the villagers run desperately trying to rescue their families and possessions from their blazing homes. An army of men dressed with golden armor raid the city, but they don’t seem like common thieves, in fact they don’t take anything from the houses. You wonder what is happening when a soldier notices you and begins to chase you. You now remember a story your grandfather used to tell you about men dressed as the sun, those men dressed in golden armor are the dragons' soldiers.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>  <a href="\dialog11.html">Confront the soldier</a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>  <a href="\dialog12.html">Run towards the forest</a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>  <a href="\dialog13.html">Play dead</a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
