{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You start to chase the soldiers, when suddenly a root catches your foot, and you're hurled down a hillside. You're unable to catch yourself, and tumble down into a bush. You're a little scratched up, but not too bad, all your limbs are still attached, after making note of this you start to climb out of the bush, but stop as you see the scene in front of you. There is a pond not too far from you, the sun is shining down on it from a break in the trees, and you see a dragon emerge from the water. You notice that there is a large slash in it's side, and it laboriously makes it's way to the shoreline of the pond. With each step, the dragon begins to shine brighter and brighter. Soon the dragon is so bright you can't look at it and have to cover your eyes, through gaps in your fingers you can tell that the shape of the dragon is becoming thinner, smaller. The glowing fades away to reveal a man sitting on the shoreline, dressed in commoner clothes. He is holding his side where he is injured to stop the bleeding.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
