{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
						  Upon his death bed your grandfather holds your hand and explains "You see this house, "name" when your father was alive he wanted you to live peacefully without worrying about money so he had begun to build this place for you and your mother, unfortunately they both died in that horrible accident and he couldn't finish the task. I love you, "name" since the first time I saw you when you were little and all these years taking care of you have been wonderful, but I am very old and my time is counted. My dear "name" I want you to have this house, and live a happy life like your father and mother wanted for you."
					  </p>
					  <span>&nbsp;</span>
					  <p>
						  Your grandfather died a few days later.
						  As usual you went to the river to take a walk, but something was different this time...
					  </p>
					  <span>&nbsp;</span>


				  </div>
				  <button class="button" style="vertical-align:middle"><span>  <a href="views\dialog1-page.html">Go towards the town</a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>  <a href="views\dialog1-page.html">Go towards the farm</a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>  <a href="views\dialog1-page.html">Go towards the forest</a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
