{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You walk over to the mangled bodies of the cubs, tears welling in your eyes. "How dare they hurt you," you whisper. Kneeling down, you being to dig a hole for them. You hear a roar of pain, branches crack, as something heavy crashes through the canopy of the trees behind you. You spin to see a dragon crash to the ground, a huge slash is in it's side.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
