{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You grab a piece of wood that is on fire, and run out into the pasture where the animals are. You use the piece of wood to scare the animals back towards the soldiers. As the animals stampede towards the soldiers, they scatter, and disappear back into the woods being chased by the animals. The girl is left alone in her tattered clothes. Still in a panic, the girl gathers her disarrayed clothes, and runs towards a near-by town. The farm's building are crashing down as the flames lick aware at their framework, you start to hear screams and run towards the building they are coming from. As you approach you notice an animal stumbling through the flames. You come closer, not wanting to enter a building on fire, but concerned about the screaming animal. As the animal begins to come closer out of the flames, you realize that it is an injured dragon, with a spear through it's wing!
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
