{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          You hide behind a nearby tree and shout "The royal guard is coming!" The guards stop harassing the girl, and mumble to each other before running off into the woods. The girl looks around in panic, and runs down the road towards in the direction of both a near-by town, and where the royal guard would have come from. The farm's buildings are crashing down as the flames lick aware at their framework, you start to hear screams and run towards the building they are coming from. As you approach you notice an animal stumbling through the flames. You come closer, not wanting to enter a burning building, but are concerned about the screaming animal. As the animal begins to come closer out of the flames, you realize that it is an injured dragon, with a spear through it's wing!
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
