{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          Running in the opposite direction the soldiers went, you come to a small clearing, and find a cabin and a small barn close by. It looks abandoned. No one has lived here in a long time it looks like it. Still, you approach the door of the cabin and knock on it. "Hello? Is anyone home?" you call. No response. The door swings open upon touching it to reveal cobwebs, and knocked over shelves. The bed is broken, and all the food that was there rotted along time ago. You hear some rustling coming from the barn, and walk over there. As you approach you hear labored breathing. Something big is in there! You crack open the door of the barn and see a dragon laying on the floor. There is a huge gash in it's side, and blood is pooling around it.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
