{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
                          The soldier approaches you aggressively. His brows are furrowed, and he draws his sword, and quickly slashes at you. You feel a shot of pain in your abdomen and fall to the ground. With his business done, the soldier walks back to his troupe. You realize you aren't mortally hurt, but it was such a surprise that he did that! Not wanting to confront another solider, or worse, have them actually kill you, you decide to just lay there pretending to be dead.
					  </p>
                      <span>&nbsp;</span>
                      <p>
                          You see smoke in the forest some distance off, the soldiers notice it, and head in that direction. You're safe now, the soldiers are gone, no one is around. You stand up, looking around, and see the ruin the soldiers have caused. Not too far away, you see the debris of a building move a little. There is someone trapped under it. Quickly you get up an rush over there to help whoever is trapped under the rubble. Heaving away some lumber you see moving scales. The thing under the rubble is finally able to shake off the rest of the rubble, revealing a dragon, with a gash in it's side.
                      </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
					  <a href="/ending1.html">
						  Help the dragon
					  </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending2.html">
						   Kill the dragon
					   </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
					   <a href="\ending3.html">
						   Call the soldiers
					   </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
