{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
				  <div class="person">
					  <p class ="para">
						You run into the forest, you heart is pumping, vines are tearing at you as you hazardously dive deeper and deeper into the forest. You see a group of soldiers being attacked by a grizzly bear. Not far away you see three fur covered lumps on the ground, the bear's cubs. Their body's looked deformed because their bones had been broken. After some struggle, the soldiers are able to kill the bear, because she lost so much blood from them stabbing her with their spears. After defeating the bear, one soldier stabs her one more time for good measure, as the soldiers leave they take no notice of the cub's bodies, stepping on them as they walk away.
					  </p>

				  </div>
				  <button class="button" style="vertical-align:middle"><span>
                      <a href="\dialog31.html">
                          Chase the soldiers
                      </a>
				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
                       <a href="\dialog32.html">
                           Run in the opposite direction the soldiers had gone
                       </a>
 				   </span></button>
				   <button class="button" style="vertical-align:middle"><span>
                       <a href="\dialog33.html">
                           Burry the body's of the bears.
                       </a>
					   </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
