{{> header}}

<main>
<body>

		<div id="body">
      <center><img src="images/ending3-logo.png"></center>
      <h2>{{pageTitle}}: Enjoy the Fall(Bad ending)</h2>
      <br>
      <br>
			<div class="endingBox">
        <br>
        <br>
        <br>
        <br>
        <p>
        Upon seeing the dragon, panic takes over, and you decide the soldiers must be searching for the dragon.
      </p>
      <p>
        You begin shouting for the soldiers to come. Quickly the soldiers appear and kill the wounded dragon.
      </p>
      <p>
        They then turn on you.
        "You have seen too much."
      </p>
      <p>
        The last thing you see is a blade appearing from your chest. Someone stabbed you from behind. A cold sensation runs through your body, your legs crumbled out from under you, and you feel your warm blood seeping out from you. The world goes dark, and you breathe your last breath.
      </p>
	  <img class = "death" src="images\death.png" style="max-width: 20%;margin-left: 350px;">
			</div>
			<div id="content">
				<br>
				<br>
				<br>
        <br>
        <br>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
