{{> header}}

<main>
<body>

  <div id="body">
    <center><img src="images/ending1-logo.png"></center>
    <h2>{{pageTitle}}: Human Among dragons(Light side)</h2>
    <br>
    <br>
    <div class="endingBox">
      <br>
      <br>
      <br>
      <br>
      <p>
        You hesitantly approach the dragon. It's laborious breathing intimidates you a little, but you proceed to rip some of your clothing, using it to stop the bleeding.
        </p>
        <p>
        The dragon looks at you and nods in thanks. Suddenly, the soldiers appear. You and the dragon are able to defeat the soldiers.
        </p>
        <p>
        He looks at you, and thanks you for helping him. He begins to tell you his story, "Hundreds of years ago, when the humans and dragons lived in peace together, there was an evil dragon who wanted to take my throne. He hired a woman to seduce me. I thought I was in love, but I realized she had been lying to me. She manipulated me, and fed me poison. It was suppose to kill me, but I was able to survive. The evil dragon decided it would be crueler to keep me alive, and imprisoned.
      </p>
      <p>
        I was kept in a cell for hundred of years before I was able to escape. That is why the soldiers came for me. They wanted to drag me back to the castle, to either kill me, or keep me as prisoner longer. But now that you have helped me, I have the chance to recover my empire.
        I will come back for you, after I am king of my empire once again, and that is when you will get your reward."
      </p>
      <p>
  			The dragon king walks towards to horizon, promising to come back.
      </p>
      <p>
  			<b>Three years later...</b>
  			You hear a knock at the door.
  			You pause for a moment, then open the door. There is a man standing there, and he looks almost familiar.
      </p>
      <p>
  			"Do you remember me? You saved my life," said the man. Before you can answer he continues. "I'm the dragon king once again, and have come for you to be my right hand, helping me rule my empire."
      </p>
			</div>
			<div id="content">
        <br>
				<br>
				<br>
        <br>
        <br>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
