{{> header}}

<main>
<body>

		<div id="body">
      <center><img src="images/ending2-logo.png"></center>
      <h2>{{pageTitle}}: Enjoy the Fall(Dark side)</h2>
      <br>
      <br>
			<div class="endingBox">
        <br>
        <br>
        <br>
        <br>
        <p>
          You remember all the horrible stories about dragons you heard growing up. Fear and hate consume you, and you kill the dragon. Standing in the pooling blood, you hear a commotion as the soldiers appear once again. They immediately surround you. Two men grab you by the shoulders, one puts a cloth over your nose and mouth "You are coming with us." Is the last thing you hear before you lose consciousness.

    			You wake up bound to a chair. As you become aware of your surroundings, you realize you are at a table, with a giant feast laid out in front of you. A man dressed in kings clothes approaches the table.

    			"Oh, you're finally awake, my champion," he says. He puts his hand on your shoulder. "You have done a great deed for me, and our kingdom. I never thought a mere human could kill the old dragon king. You must be confused, let me explain. A hundred years ago I was suppose to become the dragon king after my father passed, he was taking too long to die, so I helped him out a little bit. But I didn't realize there were witnesses, my dragon empire turned against me, deciding I am not fit to be king. They chose my brother over me. But I knew my brother's weakness, so I hired a human to seduce him. He was too tolerant with humans, and saw them like equals. I didn't realize it, but they were falling in love. To ensure my place as king, I told her to poison him, but she wouldn't. She tricked me, and used a fake poison on him. So I had to kill her, but I made it seem like it was my brother's fault."

    			The dragon king unbinds you, saying "You will now rule as my right hand, for the deed you did for me."
      </p>
			</div>
			<div id="content">
				<br>
				<br>
				<br>
        <br>
        <br>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
