{{> header}}

<main>
<body>
		<div id="body">
			<div class="featured"> <img src="images/featured-character.jpg" alt="">
				<div class="section">
					<h2><a href="home.html">Game</a></h2>
					<p>
						This is a website template
					</p>
					<p>
						More text here
					</p>
          <a class="Play" href="games.html">&nbsp;</a> </div>
        <span>&nbsp;</span>
       </div>
      <div id="content">
        <p>
          This is about
        </p>
        <p>
          More info. here
        </p>
        <p>
          Info Info
        </p>
      </div>
    </div>
	<!-- No idea why, but leaving this in here centers everything. -->
	<div id="footer">
  </body>
</main>

{{> footer}}
