{{> header}}

<main>
<body>

		<div id="body">
			<div class="featured"> <img src="images/featured-character.jpg" alt="">
				<div class="section">
					<h2>Welcome!</h2>
					<p>
						Play one of our games or create your own! For free just here in "Choose Your Path," a web page designed with a lot of love just for you!
					</p>
					<a class="Play" href="OurGame.html">&nbsp;</a>
	  			</div>
				<span>&nbsp;</span>
			</div>
			<div id="content">
				<br>
				<br>
				<br>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
