{{> header}}

<main>
<body>
		<div id="body">
      <div id="text"> {{name}}
			<div id="content">
				<p>
					Name: {{name}}
					{{title}} title
				</p>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
