{{> header}}

<main>
	<body>
			<div id="body">
				<!-- <div id="content"> -->
					<div class="person">
						<div class ="title">
							<p>
						      A Day Without Dragons
						    </p>
								<p>
									By Teresita C. G. Nader and Christa Wright
								</p>
						</div>
				  </div>
				  <div class="person">
					  <p class ="para">
						  There was an ancient time when humans and dragons coexisted peacefully, the dragons
						  were considered gods to the people. They ruled the skies and protected all humans from danger. Dragons were able to take human form
						  and live among humans, but they were not allowed to marry humans. Love between dragons and humans was forbidden. The mere thought that dragon's blood could be mixed with the impure human's blood was unthinkable. There was one dragon king that ruled the skies with an iron claw
						  and battled with fiery courage. No human, nor even dragons could face him in battle, but his heart was darker than obsidian.
						  One day while the dragon king was in battle he got wounded. Afraid that his dragon peers will think that he was weak he hid his wounds from them. At night he transformed into human form and went to the healing hot springs of the east.
						  There he met a beautiful young woman, and he fell in love with her. He kidnapped her and brought her to the dragon
						  kingdom. Night after night, she rejected his love. She was in love with another man. She begged every night to return
						  to her beloved, but the dragon king denied to give his beloved woman to another man.
					  </p>
					  <span>&nbsp;</span>
					  <p>
						  With a broken heart the young woman ended her life. After such tragedy the dragon's council prohibited dragons to cohabitate with humans, or interfere with their lives in any way. All dragons were called to live once again in the Dragon Castle that floated above in the sky.
					  </p>
					  <span>&nbsp;</span>
					  <p>
						  Hundred of years have passed and nobody have seen a dragon since then. This is where our story begins...
					  </p>

				  </div>

				  <button class="button" style="vertical-align:middle; max-width:200px;"><span><a href="\dialog.html">Continue</a> </span></button>
				<!-- </div> -->
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
