{{> header}}

<main>
	<body>
			<div id="body">
				<div id="content">
					<div class="person">
				    <p>
				      Job: {{person.job}}
				    </p>
				    <p>
				      Age: {{person.age}}
				    </p>
				  </div>
				</div>
			</div>

			{{#each person.photos}}
				{{> person-photo}}
			{{/each}}
	</body>
</main>

{{> add-photo-modal}}
{{> footer}}
