{{> header}}

<main>
<body>
	{{#each user.story}}
      {{> todo}}
    {{/each}}

		<div id="body">
      <div id="text"> //here text should be what determinates which dialog appears
			<div id="content">
				<p>
					This is about
				</p>
				<p>
					More info. here
				</p>
				<p>
					Info Info
				</p>
			</div>
		</div>
        <!-- No idea why, but leaving this in here centers everything. -->
        <div id="footer">
</body>
</main>

{{> footer}}
