{{> header}}

<main>
	<body>
			<div id="body">
				<div id="content">
					<div class="section">
						<h2><a href="dialog1.html">Welcome!</a></h2>
						<p>
							Play one of our games or create your own! For free just here in "Choose Your Path," a web page designed with a lot of love just for you!
						</p>
						<a class="Play" href="OurGame.html">&nbsp;</a>
	          <a class="createGame" href="games.html">&nbsp;</a>
		  		</div>
				</div>
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
