{{> header}}

<main>
	<body>
			<div id="body">
				<div id="content">
					<div class="person">
				    <p>
				      A Day Without Dragons
				    </p>
						<p>
							By Teresita C. G. Nader and Christa Wright
				  </div>
				</div>
			</div>
		<div id="footer">
	</body>
</main>

{{> footer}}
